@uuid 8D4988B9-ADD8-436F-B388-BC1360F8504B;

* {
  background: #404040;
  caret: #FFFF66;
  foreground: #DEDEDE;
  invisibles: #A8A8A8;
  lineHighlight: #A0804026;
  selection: #A0A0C0;
}

comment {
  fontStyle: italic;
  foreground: #709070;
}

keyword.other.directive {
  fontStyle: bold;
}

keyword.other.directive.line-number {
  fontStyle: underline;
}

constant.character {
  foreground: #FF8080;
}

string {
  foreground: #FF2020;
}

constant.numeric {
  foreground: #22C0FF;
}

constant.numeric.floating-point {
  fontStyle: underline;
}

keyword {
  foreground: #FFFFA0;
}

entity.name.module, support.other.module {
  fontStyle: bold;
  foreground: #FF8000;
}

keyword.operator {
  foreground: #FFFFA0;
}

source.ocaml keyword.operator.symbol.infix.floating-point {
  fontStyle: underline;
}

source.ocaml keyword.operator.symbol.prefix.floating-point {
  fontStyle: underline;
}

storage.type {
  foreground: #6080FF;
}

entity.name.class.variant {
  foreground: #4080A0;
}

entity.name.type {
  foreground: #F09040;
}

entity.name.function {
  fontStyle: bold;
  foreground: #FFCC66;
}

storage.type.user-defined {
  foreground: #FFE000;
}

entity.name.type.class.type {
  foreground: #F4A020;
}

variable.parameter {
  fontStyle: none;
}
