@uuid 71D40D9D-AE48-11D9-920A-000D93589AF6;

* {
  background: #FFFFFF;
  caret: #000000;
  foreground: #000000;
  invisibles: #BFBFBF;
  lineHighlight: #00000012;
  selection: #4D97FF54;
}

comment {
  fontStyle: italic;
  foreground: #0066FF;
}

keyword,
storage {
  fontStyle: bold;
  foreground: #0000FF;
}

constant.numeric {
  fontStyle: none;
  foreground: #0000CD;
}

constant {
  fontStyle: bold;
  foreground: #C5060B;
}

constant.language {
  fontStyle: bold;
  foreground: #585CF6;
}

variable.language,
variable.other {
  fontStyle: none;
  foreground: #318495;
}

string {
  fontStyle: none;
  foreground: #036A07;
}

constant.character.escape,
string source {
  fontStyle: none;
  foreground: #26B31A;
}

meta.preprocessor {
  fontStyle: none;
  foreground: #1A921C;
}

keyword.control.import {
  fontStyle: bold;
  foreground: #0C450D;
}

entity.name.function,
support.function.any-method {
  fontStyle: bold;
  foreground: #0000A2;
}

entity.name.type {
  fontStyle: underline;
}

entity.other.inherited-class {
  fontStyle: italic;
}

variable.parameter {
  fontStyle: italic;
}

storage.type.method {
  fontStyle: none;
  foreground: #70727E;
}

meta.section entity.name.section,
declaration.section entity.name.section {
  fontStyle: italic;
}

support.function {
  fontStyle: bold;
  foreground: #3C4C72;
}

support.class,
support.type {
  fontStyle: bold;
  foreground: #6D79DE;
}

support.constant {
  fontStyle: bold;
  foreground: #06960E;
}

support.variable {
  fontStyle: bold;
  foreground: #21439C;
}

keyword.operator.js {
  foreground: #687687;
}

invalid {
  foreground: #FFFFFF;
  background: #990000;
}

invalid.deprecated.trailing-whitespace {
  background: #FFD0D0;
}

text source,
string.unquoted {
  background: #0000000D;
}

text source string.unquoted,
text source text source {
  background: #0000000F;
}

meta.tag.preprocessor.xml {
  fontStyle: none;
  foreground: #68685B;
}

meta.tag.sgml.doctype,
meta.tag.sgml.doctype entity,
meta.tag.sgml.doctype string,
meta.tag.preprocessor.xml,
meta.tag.preprocessor.xml entity,
meta.tag.preprocessor.xml string {
  fontStyle: none;
  foreground: #888888;
}

string.quoted.docinfo.doctype.DTD {
  fontStyle: italic;
}

meta.tag,
declaration.tag {
  fontStyle: none;
  foreground: #1C02FF;
}

entity.name.tag {
  fontStyle: bold;
}

entity.other.attribute-name {
  fontStyle: italic;
}

markup.heading {
  fontStyle: bold;
  foreground: #0C07FF;
}

markup.quote {
  fontStyle: italic;
  foreground: #000000;
}

markup.list {
  foreground: #B90690;
}
