@uuid 766026CB-703D-4610-B070-8DE07D967C5F;

* {
  background: #141414;
  caret: #A7A7A7;
  foreground: #F8F8F8;
  invisibles: #FFFFFF40;
  lineHighlight: #FFFFFF08;
  selection: #DDF0FF33;
}

comment {
  fontStyle: italic;
  foreground: #5F5A60;
}

constant {
  foreground: #CF6A4C;
}

entity {
  fontStyle: none;
  foreground: #9B703F;
}

keyword {
  fontStyle: none;
  foreground: #CDA869;
}

storage {
  fontStyle: none;
  foreground: #F9EE98;
}

string {
  fontStyle: none;
  foreground: #8F9D6A;
}

support {
  fontStyle: none;
  foreground: #9B859D;
}

variable {
  foreground: #7587A6;
}

invalid.deprecated {
  fontStyle: italic underline;
  foreground: #D2A8A1;
}

invalid.illegal {
  foreground: #F8F8F8;
  background: #562D56BF;
}

text source {
  background: #B0B3BA14;
}

text.html.ruby source {
  background: #B1B3BA21;
}

entity.other.inherited-class {
  fontStyle: italic;
  foreground: #9B5C2E;
}

string source {
  fontStyle: none;
  foreground: #DAEFA3;
}

string constant {
  foreground: #DDF2A4;
}

string.regexp {
  fontStyle: none;
  foreground: #E9C062;
}

string.regexp constant.character.escape,
string.regexp source.ruby.embedded,
string.regexp string.regexp.arbitrary-repitition {
  foreground: #CF7D34;
}

string variable {
  foreground: #8A9A95;
}

support.function {
  fontStyle: none;
  foreground: #DAD085;
}

support.constant {
  fontStyle: none;
  foreground: #CF6A4C;
}

meta.preprocessor.c {
  foreground: #8996A8;
}

meta.preprocessor.c keyword {
  foreground: #AFC4DB;
}

meta.tag.sgml.doctype,
meta.tag.sgml.doctype entity,
meta.tag.sgml.doctype string,
meta.tag.preprocessor.xml,
meta.tag.preprocessor.xml entity,
meta.tag.preprocessor.xml string {
  foreground: #494949;
}

declaration.tag,
declaration.tag entity,
meta.tag,
meta.tag entity {
  foreground: #AC885B;
}

declaration.tag.inline,
declaration.tag.inline entity,
source entity.name.tag,
source entity.other.attribute-name,
meta.tag.inline,
meta.tag.inline entity {
  foreground: #E0C589;
}

meta.selector.css entity.name.tag {
  foreground: #CDA869;
}

meta.selector.css entity.other.attribute-name.tag.pseudo-class {
  foreground: #8F9D6A;
}

meta.selector.css entity.other.attribute-name.id {
  foreground: #8B98AB;
}

meta.selector.css entity.other.attribute-name.class {
  foreground: #9B703F;
}

support.type.property-name.css {
  foreground: #C5AF75;
}

meta.property-group support.constant.property-value.css,
meta.property-value support.constant.property-value.css {
  foreground: #F9EE98;
}

meta.preprocessor.at-rule keyword.control.at-rule {
  foreground: #8693A5;
}

meta.property-value support.constant.named-color.css,
meta.property-value constant {
  foreground: #CA7840;
}

meta.constructor.argument.css {
  foreground: #8F9D6A;
}

meta.diff,
meta.diff.header,
meta.separator {
  fontStyle: italic;
  foreground: #F8F8F8;
  background: #0E2231;
}

markup.deleted {
  foreground: #F8F8F8;
  background: #420E09;
}

markup.changed {
  foreground: #F8F8F8;
  background: #4A410D;
}

markup.inserted {
  foreground: #F8F8F8;
  background: #253B22;
}

markup.list {
  foreground: #F9EE98;
}

markup.heading {
  foreground: #CF6A4C;
}
