@uuid A4299D9B-1DE5-4BC4-87F6-A757E71B1597;

* {
  background: #042029;
  caret: #819090;
  foreground: #839496;
  invisibles: #0A2933;
  lineHighlight: #0A2933;
  selection: #0A2933;
}

comment {
  fontStyle: none;
  foreground: #586E75;
}

string {
  foreground: #2AA198;
}

string {
  foreground: #586E75;
}

string.regexp {
  foreground: #D30102;
}

constant.numeric {
  foreground: #D33682;
}

variable.language,
variable.other {
  foreground: #268BD2;
}

keyword {
  foreground: #859900;
}

storage {
  fontStyle: none;
  foreground: #738A05;
}

entity.name.class,
entity.name.type.class {
  foreground: #268BD2;
}

entity.name.function {
  foreground: #268BD2;
}

punctuation.definition.variable {
  foreground: #859900;
}

punctuation.section.embedded.begin,
punctuation.section.embedded.end {
  foreground: #D30102;
}

constant.language,
meta.preprocessor {
  foreground: #B58900;
}

support.function.construct,
keyword.other.new {
  foreground: #D30102;
}

constant.character,
constant.other {
  foreground: #CB4B16;
}

entity.name.tag {
  fontStyle: bold;
  foreground: #268BD2;
}

punctuation.definition.tag.html,
punctuation.definition.tag.begin,
punctuation.definition.tag.end {
  foreground: #586E75;
}

entity.other.attribute-name {
  foreground: #93A1A1;
}

support.function {
  foreground: #268BD2;
}

punctuation.separator.continuation {
  foreground: #D30102;
}

support.type,
support.class {
  foreground: #859900;
}

support.type.exception {
  foreground: #CB4B16;
}

keyword.other.special-method {
  foreground: #CB4B16;
}

string.quoted.double,
string.quoted.single {
  foreground: #269186;
}

punctuation.definition.string.begin,
punctuation.definition.string.end {
  foreground: #C60000;
}

entity.name.tag.css,
support.type.property-name.css,
meta.property-name.css {
  fontStyle: none;
  foreground: #A57800;
}

source.css {
  foreground: #D01F1E;
}

meta.selector.css {
  fontStyle: none;
  foreground: #536871;
}

punctuation.section.property-list.css {
  foreground: #5A74CF;
}

meta.property-value.css constant.numeric.css,
keyword.other.unit.css,
constant.other.color.rgb-value.css {
  fontStyle: none;
  foreground: #269186;
}

meta.property-value.css {
  fontStyle: none;
  foreground: #269186;
}

keyword.other.important.css {
  foreground: #D01F1E;
}

support.constant.color {
  foreground: #269186;
}

entity.name.tag.css {
  foreground: #738A13;
}

punctuation.separator.key-value.css,
punctuation.terminator.rule.css {
  fontStyle: none;
  foreground: #536871;
}

entity.other.attribute-name.class.css {
  fontStyle: none;
  foreground: #268BD2;
}

entity.other.attribute-name.pseudo-element.css,
entity.other.attribute-name.pseudo-class.css {
  fontStyle: none;
  foreground: #BD3800;
}

entity.other.attribute-name.id.css {
  fontStyle: none;
  foreground: #268BD2;
}

meta.function.js,
entity.name.function.js,
support.function.dom.js {
  foreground: #A57800;
}

text.html.basic source.js.embedded.html {
  fontStyle: none;
  foreground: #A57800;
}

storage.type.function.js {
  foreground: #268BD2;
}

constant.numeric.js {
  foreground: #269186;
}

meta.brace.square.js {
  foreground: #268BD2;
}

storage.type.js {
  foreground: #268BD2;
}

meta.brace.round,
punctuation.definition.parameters.begin.js,
punctuation.definition.parameters.end.js {
  foreground: #93A1A1;
}

meta.brace.curly.js {
  foreground: #268BD2;
}

entity.name.tag.doctype.html,
meta.tag.sgml.html,
string.quoted.double.doctype.identifiers-and-DTDs.html {
  fontStyle: italic;
  foreground: #899090;
}

comment.block.html {
  fontStyle: italic;
  foreground: #839496;
}

entity.name.tag.script.html {
  fontStyle: italic;
}

source.css.embedded.html string.quoted.double.html {
  fontStyle: none;
  foreground: #269186;
}

text.html.ruby {
  fontStyle: bold;
  foreground: #BD3800;
}

text.html.basic meta.tag.other.html,
text.html.basic meta.tag.any.html,
text.html.basic meta.tag.block.any,
text.html.basic meta.tag.inline.any,
text.html.basic meta.tag.structure.any.html,
text.html.basic source.js.embedded.html,
punctuation.separator.key-value.html {
  fontStyle: none;
  foreground: #708284;
}

text.html.basic entity.other.attribute-name.html {
  foreground: #708284;
}

text.html.basic meta.tag.structure.any.html punctuation.definition.string.begin.html,
punctuation.definition.string.begin.html,
punctuation.definition.string.end.html {
  fontStyle: none;
  foreground: #269186;
}

entity.name.tag.block.any.html {
  fontStyle: bold;
  foreground: #268BD2;
}

source.css.embedded.html entity.name.tag.style.html {
  fontStyle: italic;
}

entity.name.tag.style.html {
  fontStyle: none;
}

text.html.basic punctuation.section.property-list.css {
  fontStyle: none;
}

source.css.embedded.html,
comment.block.html {
  fontStyle: italic;
  foreground: #819090;
}

punctuation.definition.variable.ruby {
  fontStyle: none;
  foreground: #268BD2;
}

meta.function.method.with-arguments.ruby {
  foreground: #708284;
}

variable.language.ruby {
  foreground: #469186;
}

entity.name.function.ruby {
  foreground: #268BD2;
}

keyword.control.ruby,
keyword.control.def.ruby {
  fontStyle: bold;
  foreground: #738A05;
}

keyword.control.class.ruby,
meta.class.ruby {
  foreground: #748B00;
}

entity.name.type.class.ruby {
  fontStyle: none;
  foreground: #A57800;
}

keyword.control.ruby {
  fontStyle: none;
  foreground: #748B00;
}

support.class.ruby {
  fontStyle: none;
  foreground: #A57800;
}

keyword.other.special-method.ruby {
  foreground: #748B00;
}

constant.language.ruby,
constant.numeric.ruby {
  foreground: #269186;
}

variable.other.constant.ruby {
  fontStyle: none;
  foreground: #A57800;
}

constant.other.symbol.ruby {
  fontStyle: none;
  foreground: #269186;
}

punctuation.section.embedded.ruby,
punctuation.definition.string.begin.ruby,
punctuation.definition.string.end.ruby {
  foreground: #D01F1E;
}

keyword.other.special-method.ruby {
  foreground: #BD3800;
}

keyword.control.import.include.php {
  foreground: #BD3800;
}

text.html.ruby meta.tag.inline.any.html {
  fontStyle: none;
  foreground: #819090;
}

text.html.ruby punctuation.definition.string.begin,
text.html.ruby punctuation.definition.string.end {
  fontStyle: none;
  foreground: #269186;
}

punctuation.definition.string.begin,
punctuation.definition.string.end {
  foreground: #839496;
}

support.class.php {
  foreground: #839496;
}

keyword.operator.index-start.php,
keyword.operator.index-end.php {
  foreground: #D31E1E;
}

meta.array.php {
  foreground: #536871;
}

meta.array.php support.function.construct.php,
meta.array.empty.php support.function.construct.php {
  fontStyle: none;
  foreground: #A57800;
}

support.function.construct.php {
  foreground: #A57800;
}

punctuation.definition.array.begin,
punctuation.definition.array.end {
  foreground: #D31E1E;
}

constant.numeric.php {
  foreground: #269186;
}

keyword.other.new.php {
  foreground: #CB4B16;
}

keyword.operator.class {
  fontStyle: none;
  foreground: #839496;
}

variable.other.property.php {
  foreground: #899090;
}

storage.modifier.extends.php,
storage.type.class.php,
keyword.operator.class.php {
  foreground: #A57800;
}

punctuation.terminator.expression.php {
  foreground: #839496;
}

meta.other.inherited-class.php {
  fontStyle: none;
  foreground: #536871;
}

storage.type.php {
  foreground: #748B00;
}

entity.name.function.php {
  foreground: #899090;
}

support.function.construct.php {
  foreground: #748B00;
}

entity.name.type.class.php,
meta.function-call.php,
meta.function-call.static.php,
meta.function-call.object.php {
  foreground: #839496;
}

keyword.other.phpdoc {
  fontStyle: none;
  foreground: #899090;
}

source.php.embedded.block.html {
  foreground: #BD3613;
}

storage.type.function.php {
  foreground: #BD3800;
}

constant.numeric.c {
  fontStyle: none;
  foreground: #269186;
}

meta.preprocessor.c.include,
meta.preprocessor.macro.c {
  fontStyle: none;
  foreground: #BB3700;
}

keyword.control.import.define.c,
keyword.control.import.include.c {
  fontStyle: none;
  foreground: #BB3700;
}

entity.name.function.preprocessor.c {
  fontStyle: none;
  foreground: #BB3700;
}

meta.preprocessor.c.include string.quoted.other.lt-gt.include.c,
meta.preprocessor.c.include punctuation.definition.string.begin.c,
meta.preprocessor.c.include punctuation.definition.string.end.c {
  fontStyle: none;
  foreground: #269186;
}

support.function.C99.c,
support.function.any-method.c,
entity.name.function.c {
  fontStyle: none;
  foreground: #536871;
}

punctuation.definition.string.begin.c,
punctuation.definition.string.end.c {
  fontStyle: none;
  foreground: #269186;
}

storage.type.c {
  fontStyle: none;
  foreground: #A57800;
}

meta.diff,
meta.diff.header {
  fontStyle: italic;
  foreground: #E0EDDD;
  background: #A57706;
}

markup.deleted {
  fontStyle: none;
  foreground: #D3201F;
  background: #EAE3CA;
}

markup.changed {
  fontStyle: none;
  foreground: #BF3904;
  background: #EAE3CA;
}

markup.inserted {
  foreground: #219186;
  background: #EAE3CA;
}

text.html.markdown meta.dummy.line-break {
  foreground: #E0EDDD;
  background: #A57706;
}

text.html.markdown markup.raw.inline {
  foreground: #269186;
}

text.restructuredtext markup.raw {
  foreground: #269186;
}

other.package.exclude,
other.remove {
  fontStyle: none;
  foreground: #D3201F;
}

other.add {
  foreground: #269186;
}

punctuation.section.group.tex,
punctuation.definition.arguments.begin.latex,
punctuation.definition.arguments.end.latex,
punctuation.definition.arguments.latex {
  fontStyle: none;
  foreground: #B81D1C;
}

meta.group.braces.tex {
  fontStyle: none;
  foreground: #A57705;
}

string.other.math.tex {
  fontStyle: none;
  foreground: #A57705;
}

variable.parameter.function.latex {
  fontStyle: none;
  foreground: #BD3800;
}

punctuation.definition.constant.math.tex {
  fontStyle: none;
  foreground: #D01F1E;
}

text.tex.latex constant.other.math.tex,
constant.other.general.math.tex,
constant.other.general.math.tex,
constant.character.math.tex {
  fontStyle: none;
  foreground: #269186;
}

string.other.math.tex {
  fontStyle: none;
  foreground: #A57800;
}

punctuation.definition.string.begin.tex,
punctuation.definition.string.end.tex {
  fontStyle: none;
  foreground: #D3201F;
}

keyword.control.label.latex,
text.tex.latex constant.other.general.math.tex {
  fontStyle: none;
  foreground: #269186;
}

variable.parameter.definition.label.latex {
  fontStyle: none;
  foreground: #D01F1E;
}

support.function.be.latex {
  fontStyle: none;
  foreground: #748B00;
}

support.function.section.latex {
  fontStyle: none;
  foreground: #BD3800;
}

support.function.general.tex {
  fontStyle: none;
  foreground: #269186;
}

punctuation.definition.comment.tex,
comment.line.percentage.tex {
  fontStyle: italic;
}

keyword.control.ref.latex {
  fontStyle: none;
  foreground: #269186;
}

storage.type.class.python,
storage.type.function.python,
storage.modifier.global.python {
  fontStyle: none;
  foreground: #748B00;
}

keyword.control.import.python,
keyword.control.import.from.python {
  foreground: #BD3800;
}

support.type.exception.python {
  foreground: #A57800;
}

support.function.builtin.shell {
  foreground: #748B00;
}

variable.other.normal.shell {
  foreground: #BD3800;
}

source.shell {
  fontStyle: none;
  foreground: #268BD2;
}

meta.scope.for-in-loop.shell,
variable.other.loop.shell {
  fontStyle: none;
  foreground: #536871;
}

punctuation.definition.string.end.shell,
punctuation.definition.string.begin.shell {
  fontStyle: none;
  foreground: #748B00;
}

meta.scope.case-block.shell,
meta.scope.case-body.shell {
  fontStyle: none;
  foreground: #536871;
}

punctuation.definition.logical-expression.shell {
  fontStyle: none;
  foreground: #CD1E1D;
}

comment.line.number-sign.shell {
  fontStyle: italic;
}

keyword.other.import.java {
  fontStyle: none;
  foreground: #BD3800;
}

storage.modifier.import.java {
  fontStyle: none;
  foreground: #586E75;
}

meta.class.java storage.modifier.java {
  fontStyle: none;
  foreground: #A57800;
}

source.java comment.block {
  fontStyle: none;
  foreground: #536871;
}

comment.block meta.documentation.tag.param.javadoc keyword.other.documentation.param.javadoc {
  fontStyle: none;
  foreground: #536871;
}

punctuation.definition.variable.perl,
variable.other.readwrite.global.perl,
variable.other.predefined.perl,
keyword.operator.comparison.perl {
  foreground: #B58900;
}

support.function.perl {
  foreground: #859900;
}

comment.line.number-sign.perl {
  fontStyle: italic;
  foreground: #586E75;
}

punctuation.definition.string.begin.perl,
punctuation.definition.string.end.perl {
  foreground: #2AA198;
}

constant.character.escape.perl {
  foreground: #DC322F;
}
