@uuid 37F22BDC-B2F4-11D9-850C-000A95A89C98;

* {
  background: #000000;
  caret: #FFFFFF;
  foreground: #FFFFFF;
  invisibles: #404040;
  lineHighlight: #333300;
  selection: #73597EE0;
}

text {
  foreground: #FFFFFF;
  background: #434242;
}

source {
  foreground: #FFFFFF;
  background: #000000;
}

comment {
  foreground: #9933CC;
}

constant {
  foreground: #3387CC;
}

keyword {
  fontStyle: none;
  foreground: #CC7833;
}

meta.preprocessor.c {
  fontStyle: none;
  foreground: #D0D0FF;
}

keyword.control.import {
  fontStyle: none;
}

entity.name.function {
  fontStyle: none;
}

variable.parameter {
  fontStyle: italic;
}

source comment.block {
  foreground: #FFFFFF;
  background: #9B9B9B;
}

string {
  foreground: #66CC33;
}

string constant.character.escape {
  foreground: #AAAAAA;
}

string.interpolated {
  foreground: #000000;
  background: #CCCC33;
}

string.regexp {
  foreground: #CCCC33;
}

string.literal {
  foreground: #CCCC33;
}

string.interpolated constant.character.escape {
  foreground: #555555;
}

entity.name.type {
  fontStyle: underline;
}

entity.other.inherited-class {
  fontStyle: italic underline;
}

entity.name.tag {
  fontStyle: underline;
}

entity.other.attribute-name {
  fontStyle: none;
}

support.function {
  fontStyle: none;
  foreground: #C83730;
}
