@uuid E7E82498-F9EA-49A6-A0D8-12327EA46B01;

* {
  background: #F9F9F9;
  caret: #000000;
  foreground: #080808;
  invisibles: #4B4B7E80;
  lineHighlight: #2463B41F;
  selection: #275FFF4D;
  shadow: #808080;
  shadowWidth: 6;
}

comment {
  fontStyle: italic;
  foreground: #5A525F;
}

constant {
  fontStyle: bold;
  foreground: #811F24;
}

entity {
  fontStyle: none;
  foreground: #BF4F24;
}

keyword {
  fontStyle: none;
  foreground: #794938;
}

storage {
  fontStyle: italic;
  foreground: #A71D5D;
}

string \| punctuation.definition.string {
  fontStyle: none;
  foreground: #0B6125;
}

support {
  fontStyle: none;
  foreground: #691C97;
}

variable {
  fontStyle: none;
  foreground: #234A97;
}

punctuation.separator {
  foreground: #794938;
}

invalid.deprecated {
  fontStyle: bold italic underline;
  foreground: #B52A1D;
}

invalid.illegal {
  fontStyle: italic underline;
  foreground: #F8F8F8;
  background: #B52A1D;
}

string source {
  fontStyle: none;
  foreground: #080808;
  background: #6F8BBA26;
}

string constant {
  fontStyle: bold;
  foreground: #696969;
}

string variable {
  fontStyle: none;
  foreground: #234A97;
}

string.regexp {
  fontStyle: none;
  foreground: #CF5628;
}

string.regexp.character-class,
string.regexp constant.character.escaped,
string.regexp source.ruby.embedded,
string.regexp string.regexp.arbitrary-repitition {
  fontStyle: bold italic;
  foreground: #CF5628;
}

string.regexp constant.character.escape {
  fontStyle: bold;
  foreground: #811F24;
}

text source {
  background: #6F8BBA26;
}

support.function {
  fontStyle: none;
  foreground: #693A17;
}

support.constant {
  fontStyle: none;
  foreground: #B4371F;
}

support.variable {
  foreground: #234A97;
}

markup.list {
  foreground: #693A17;
}

markup.heading \| markup.heading entity.name {
  fontStyle: bold;
  foreground: #19356D;
}

markup.quote {
  fontStyle: italic;
  foreground: #0B6125;
  background: #BBBBBB30;
}

markup.italic {
  fontStyle: italic;
  foreground: #080808;
}

markup.bold {
  fontStyle: bold;
  foreground: #080808;
}

markup.underline {
  fontStyle: underline;
  foreground: #080808;
}

markup.link {
  fontStyle: italic underline;
  foreground: #234A97;
}

markup.raw {
  fontStyle: none;
  foreground: #234A97;
  background: #BBBBBB30;
}

markup.deleted {
  foreground: #B52A1D;
}

meta.separator {
  fontStyle: bold;
  foreground: #19356D;
  background: #DCDCDC;
}
