@uuid 0e709986-46a0-40a0-b3bf-c8dfe525c455;

* {
  activeGuide: #ffffff55;
  background: #1b2b34;
  caret: #cdd3de;
  foreground: #cdd3de;
  guide: #ffffff25;
  gutter: #1b2b34;
  invisibles: #65737e;
  lineHighlight: #ffffff10;
  popupCss: html {
    background-color: #2d3c44;
    color: #cdd3de;
  };

  a {
    color: #6699cc;
  }

  .error,
  .deleted {
    color: #ec5f67;
  }

  .success,
  .inserted,
  .name {
    color: #99c794;
  }

  .warning,
  .modified {
    color: #fac863;
  }

  .type {
    color: #5fb3b3;
    font-style: italic;
  }

  .param {
    color: #f99157;
  }

  .current {
    text-decoration: underline;
  }

  selection: #ffffff16;
  selectionBorder: #ffffff16;
  stackGuide: #ffffff40;
}

comment,
punctuation.definition.comment {
  fontStyle: italic;
  foreground: #65737e;
}

variable,
string constant.other.placeholder {
  foreground: #cdd3de;
}

invalid {
  foreground: #ffffff;
  background: #ec5f67;
}

invalid.deprecated {
  foreground: #ffffff;
  background: #c594c5;
}

keyword,
storage.type,
storage.modifier {
  foreground: #c594c5;
}

keyword.operator,
constant.other.color,
punctuation,
meta.tag,
punctuation.definition.tag,
punctuation.separator.inheritance.php,
punctuation.definition.tag.html,
punctuation.definition.tag.begin.html,
punctuation.definition.tag.end.html,
punctuation.section.embedded,
keyword.other.template,
keyword.other.substitution {
  foreground: #5fb3b3;
}

entity.name.tag,
meta.tag.sgml,
markup.deleted.git_gutter {
  foreground: #f07178;
}

entity.name.function,
variable.function,
support.function,
keyword.other.special-method,
meta.block-level {
  foreground: #6699cc;
}

support.other.variable,
string.other.link {
  foreground: #f07178;
}

constant.numeric,
constant.language,
support.constant,
constant.character,
variable.parameter,
keyword.other.unit {
  foreground: #f99157;
}

string,
constant.other.symbol,
constant.other.key,
entity.other.inherited-class,
markup.heading,
markup.inserted.git_gutter,
meta.group.braces.curly constant.other.object.key.js string.unquoted.label.js {
  fontStyle: normal;
  foreground: #99c794;
}

entity.name.class,
entity.name.type.class,
support.type,
support.class,
support.other.namespace.use.php,
meta.use.php,
support.other.namespace.php,
markup.changed.git_gutter {
  foreground: #fac863;
}

entity.name.module.js,
variable.import.parameter.js,
variable.other.class.js {
  foreground: #ec5f67;
}

variable.language {
  fontStyle: italic;
  foreground: #ec5f67;
}

entity.name.method.js {
  foreground: #6699cc;
}

meta.class-method.js entity.name.function.js,
variable.function.constructor {
  foreground: #6699cc;
}

entity.other.attribute-name {
  foreground: #c594c5;
}

markup.inserted {
  foreground: #99c794;
}

markup.deleted {
  foreground: #ec5f67;
}

markup.changed {
  foreground: #c594c5;
}

string.regexp {
  foreground: #5fb3b3;
}

constant.character.escape {
  foreground: #5fb3b3;
}

\*url\*,
\*link\*,
\*uri\* {
  fontStyle: underline;
}

constant.numeric.line-number.find-in-files \- match {
  foreground: #ab7967;
}

entity.name.filename.find-in-files {
  foreground: #99c794;
}

tag.decorator.js entity.name.tag.js,
tag.decorator.js punctuation.definition.tag.js {
  fontStyle: italic;
  foreground: #6699cc;
}

source.js constant.other.object.key.js string.unquoted.label.js {
  fontStyle: italic;
  foreground: #ec5f67;
}

source.json meta meta meta meta meta meta meta meta meta meta meta meta meta meta meta meta.structure.dictionary.json string.quoted.double.json \- meta meta meta meta meta meta meta meta meta meta meta meta meta meta meta meta.structure.dictionary.json meta.structure.dictionary.value.json string.quoted.double.json,
source.json meta meta meta meta meta meta meta meta meta meta meta meta meta meta meta meta.structure.dictionary.json punctuation.definition.string \- meta meta meta meta meta meta meta meta meta meta meta meta meta meta meta meta.structure.dictionary.json meta.structure.dictionary.value.json punctuation.definition.string {
  foreground: #ec5f67bf;
}

source.json meta meta meta meta meta meta meta meta meta meta meta meta meta meta.structure.dictionary.json string.quoted.double.json \- meta meta meta meta meta meta meta meta meta meta meta meta meta meta.structure.dictionary.json meta.structure.dictionary.value.json string.quoted.double.json,
source.json meta meta meta meta meta meta meta meta meta meta meta meta meta meta.structure.dictionary.json punctuation.definition.string \- meta meta meta meta meta meta meta meta meta meta meta meta meta meta.structure.dictionary.json meta.structure.dictionary.value.json punctuation.definition.string {
  foreground: #6699ccbf;
}

source.json meta meta meta meta meta meta meta meta meta meta meta meta.structure.dictionary.json string.quoted.double.json \- meta meta meta meta meta meta meta meta meta meta meta meta.structure.dictionary.json meta.structure.dictionary.value.json string.quoted.double.json,
source.json meta meta meta meta meta meta meta meta meta meta meta meta.structure.dictionary.json punctuation.definition.string \- meta meta meta meta meta meta meta meta meta meta meta meta.structure.dictionary.json meta.structure.dictionary.value.json punctuation.definition.string {
  foreground: #fac863bf;
}

source.json meta meta meta meta meta meta meta meta meta meta.structure.dictionary.json string.quoted.double.json \- meta meta meta meta meta meta meta meta meta meta.structure.dictionary.json meta.structure.dictionary.value.json string.quoted.double.json,
source.json meta meta meta meta meta meta meta meta meta meta.structure.dictionary.json punctuation.definition.string \- meta meta meta meta meta meta meta meta meta meta.structure.dictionary.json meta.structure.dictionary.value.json punctuation.definition.string {
  foreground: #c594c5bf;
}

source.json meta meta meta meta meta meta meta meta.structure.dictionary.json string.quoted.double.json \- meta meta meta meta meta meta meta meta.structure.dictionary.json meta.structure.dictionary.value.json string.quoted.double.json,
source.json meta meta meta meta meta meta meta meta.structure.dictionary.json punctuation.definition.string \- meta meta meta meta meta meta meta meta.structure.dictionary.json meta.structure.dictionary.value.json punctuation.definition.string {
  foreground: #f99157;
}

source.json meta meta meta meta meta meta.structure.dictionary.json string.quoted.double.json \- meta meta meta meta meta meta.structure.dictionary.json meta.structure.dictionary.value.json string.quoted.double.json,
source.json meta meta meta meta meta meta.structure.dictionary.json punctuation.definition.string \- meta meta meta meta meta meta.structure.dictionary.json meta.structure.dictionary.value.json punctuation.definition.string {
  foreground: #ec5f67;
}

source.json meta meta meta meta.structure.dictionary.json string.quoted.double.json \- meta meta meta meta.structure.dictionary.json meta.structure.dictionary.value.json string.quoted.double.json,
source.json meta meta meta meta.structure.dictionary.json punctuation.definition.string \- meta meta meta meta.structure.dictionary.json meta.structure.dictionary.value.json punctuation.definition.string {
  foreground: #6699cc;
}

source.json meta meta.structure.dictionary.json string.quoted.double.json \- meta meta.structure.dictionary.json meta.structure.dictionary.value.json string.quoted.double.json,
source.json meta meta.structure.dictionary.json punctuation.definition.string \- meta meta.structure.dictionary.json meta.structure.dictionary.value.json punctuation.definition.string {
  foreground: #fac863;
}

source.json meta.structure.dictionary.json string.quoted.double.json \- meta.structure.dictionary.json meta.structure.dictionary.value.json string.quoted.double.json,
source.json meta.structure.dictionary.json punctuation.definition.string \- meta.structure.dictionary.json meta.structure.dictionary.value.json punctuation.definition.string {
  foreground: #c594c5;
}

text.html.markdown,
punctuation.definition.list_item.markdown {
  foreground: #cdd3de;
}

text.html.markdown markup.raw.inline {
  foreground: #cdd3decc;
  background: #ffffff08;
}

text.html.markdown meta.dummy.line-break {
  foreground: #ffffff50;
}

markdown.heading,
markup.heading \| markup.heading entity.name,
markup.heading.markdown punctuation.definition.heading.markdown {
  foreground: #f07178;
}

markup.italic,
markup.italic string {
  fontStyle: italic;
}

markup.bold,
markup.bold string {
  fontStyle: bold;
}

markup.bold markup.italic,
markup.italic markup.bold,
markup.quote markup.bold,
markup.bold markup.italic string,
markup.italic markup.bold string,
markup.quote markup.bold string {
  fontStyle: bold italic;
}

markup.underline {
  fontStyle: underline;
  foreground: #99c794;
}

markup.strike {
  fontStyle: strike;
  foreground: #65737e;
}

markup.quote punctuation.definition.blockquote.markdown {
  fontStyle: none;
  foreground: #ffffff16;
  background: #ffffff16;
}

markup.quote {
  fontStyle: italic;
  foreground: #65737e;
}

string.other.link.title.markdown {
  foreground: #6699cc;
}

string.other.link.description.title.markdown {
  foreground: #c594c5;
}

constant.other.reference.link.markdown {
  foreground: #fac863;
}

markup.raw.block {
  foreground: #cdd3decc;
  background: #ffffff08;
}

markup.raw.block.fenced.markdown {
  background: #ffffff08;
}

punctuation.definition.fenced.markdown {
  background: #ffffff08;
}

markup.raw.block.fenced.markdown,
variable.language.fenced.markdown,
punctuation.section.class.end {
  foreground: #cdd3de;
}

punctuation.definition.fenced.markdown,
meta.definition.language.raw.block.fenced.markdown {
  fontStyle: none;
  foreground: #ffffff50;
}

variable.language.fenced.markdown {
  fontStyle: none;
  foreground: #65737e;
}

meta.separator {
  fontStyle: bold;
  foreground: #65737e;
  background: #ffffff08;
}

markup.table {
  foreground: #cdd3decc;
  background: #ffffff08;
}

text.html.markdown punctuation.definition,
text.html.markdown.note punctuation.definition.list_item.markdown,
markup.table.markdown punctuation.definition.table.vertical-line.markdown,
text.html.markdown markup.checkbox.markdown {
  fontStyle: none;
  foreground: #ffffff50;
}

text.html.markdown meta.disable-markdown punctuation.definition {
  foreground: #5fb3b3;
}

punctuation.definition.list_item.todo.done {
  foreground: #99c794;
}

punctuation.definition.list_item.todo.cancelled {
  foreground: #ec5f67;
}

markup.checkbox.markdown markup.checkbox.checked_symbol.markdown {
  foreground: #99c794;
}

markup.admonition.markdown string.other.admonition.title.markdown {
  fontStyle: bold;
  foreground: #cdd3de;
}

markup.admonition.markdown markup.admonition.header.markdown {
  background: #bb80b350;
}

markup.admonition.markdown markup.admonition.body.markdown {
  background: #bb80b315;
}

markup.admonition.markdown punctuation.definition.admonition.markdown,
markup.admonition.markdown punctuation.definition.heading,
markup.admonition.markdown punctuation.definition.table.vertical-line,
markup.admonition.markdown punctuation.definition.table.horizontal-line,
markup.admonition.markdown punctuation.definition.table.alignments,
markup.admonition.markdown punctuation.definition.heading,
markup.admonition.markdown punctuation.definition.bold,
markup.admonition.markdown punctuation.definition.italic,
markup.admonition.markdown punctuation.definition.list_item,
markup.admonition.markdown punctuation.definition.raw,
markup.admonition.markdown markup.checkbox.markdown,
markup.admonition.markdown punctuation.definition.list_item.todo.pending,
markup.admonition.markdown meta.link punctuation.definition,
markup.admonition.markdown meta.link.inline markup.underline.link,
markup.admonition.markdown meta.link.reference.markdown constant.other.reference.link.markdown,
markup.admonition.markdown punctuation.definition.entity.html,
markup.admonition.markdown meta.separator.markdown,
markup.admonition.markdown markup.table.markdown punctuation.definition.table.vertical-line.markdown,
markup.admonition.markdown meta.definition.language.raw.block.fenced.markdown {
  foreground: #bb80b375;
}

markup.admonition.markdown entity.name.admonition.markdown {
  fontStyle: bold;
  foreground: #bb80b3;
}

markup.admonition.markdown markup.table,
markup.admonition.markdown markup.raw,
markup.admonition.markdown markup.raw.block.fenced meta.language,
markup.admonition.markdown punctuation.definition.blockquote.markdown,
markup.admonition.markdown meta.separator,
markup.admonition.markdown markup.raw.inline,
markup.admonition.markdown markup.raw.block {
  background: #bb80b325;
}

markup.admonition.markdown markup.quote punctuation.definition.blockquote.markdown {
  foreground: #bb80b335;
  background: #bb80b335;
}

markup.admonition.markdown.hint markup.admonition.header.markdown {
  background: #6699cc50;
}

markup.admonition.markdown.hint markup.admonition.body.markdown {
  background: #6699cc15;
}

markup.admonition.markdown.hint punctuation.definition.admonition.markdown,
markup.admonition.markdown.hint punctuation.definition.heading,
markup.admonition.markdown.hint punctuation.definition.table.vertical-line,
markup.admonition.markdown.hint punctuation.definition.table.horizontal-line,
markup.admonition.markdown.hint punctuation.definition.table.alignments,
markup.admonition.markdown.hint punctuation.definition.heading,
markup.admonition.markdown.hint punctuation.definition.bold,
markup.admonition.markdown.hint punctuation.definition.italic,
markup.admonition.markdown.hint punctuation.definition.list_item,
markup.admonition.markdown.hint punctuation.definition.raw,
markup.admonition.markdown.hint markup.checkbox.markdown,
markup.admonition.markdown.hint punctuation.definition.list_item.todo.pending,
markup.admonition.markdown.hint meta.link punctuation.definition,
markup.admonition.markdown.hint meta.link.inline markup.underline.link,
markup.admonition.markdown.hint meta.link.reference.markdown constant.other.reference.link.markdown,
markup.admonition.markdown.hint punctuation.definition.entity.html,
markup.admonition.markdown.hint meta.separator.markdown,
markup.admonition.markdown.hint markup.table.markdown punctuation.definition.table.vertical-line.markdown,
markup.admonition.markdown.hint meta.definition.language.raw.block.fenced.markdown {
  foreground: #6699cc75;
}

markup.admonition.markdown.hint entity.name.admonition.markdown {
  fontStyle: bold;
  foreground: #6699cc;
}

markup.admonition.markdown.hint markup.table,
markup.admonition.markdown.hint markup.raw,
markup.admonition.markdown.hint markup.raw.block.fenced meta.language,
markup.admonition.markdown.hint punctuation.definition.blockquote.markdown,
markup.admonition.markdown.hint meta.separator,
markup.admonition.markdown.hint markup.raw.inline,
markup.admonition.markdown.hint markup.raw.block {
  background: #6699cc25;
}

markup.admonition.markdown.hint markup.quote punctuation.definition.blockquote.markdown {
  foreground: #6699cc35;
  background: #6699cc35;
}

markup.admonition.markdown.warning markup.admonition.header.markdown {
  background: #fac86350;
}

markup.admonition.markdown.warning markup.admonition.body.markdown {
  background: #fac86315;
}

markup.admonition.markdown.warning punctuation.definition.admonition.markdown,
markup.admonition.markdown.warning punctuation.definition.heading,
markup.admonition.markdown.warning punctuation.definition.table.vertical-line,
markup.admonition.markdown.warning punctuation.definition.table.horizontal-line,
markup.admonition.markdown.warning punctuation.definition.table.alignments,
markup.admonition.markdown.warning punctuation.definition.heading,
markup.admonition.markdown.warning punctuation.definition.bold,
markup.admonition.markdown.warning punctuation.definition.italic,
markup.admonition.markdown.warning punctuation.definition.list_item,
markup.admonition.markdown.warning punctuation.definition.raw,
markup.admonition.markdown.warning markup.checkbox.markdown,
markup.admonition.markdown.warning punctuation.definition.list_item.todo.pending,
markup.admonition.markdown.warning meta.link punctuation.definition,
markup.admonition.markdown.warning meta.link.inline markup.underline.link,
markup.admonition.markdown.warning meta.link.reference.markdown constant.other.reference.link.markdown,
markup.admonition.markdown.warning punctuation.definition.entity.html,
markup.admonition.markdown.warning meta.separator.markdown,
markup.admonition.markdown.warning markup.table.markdown punctuation.definition.table.vertical-line.markdown,
markup.admonition.markdown.warning meta.definition.language.raw.block.fenced.markdown {
  foreground: #fac86375;
}

markup.admonition.markdown.warning entity.name.admonition.markdown {
  fontStyle: bold;
  foreground: #fac863;
}

markup.admonition.markdown.warning markup.table,
markup.admonition.markdown.warning markup.raw,
markup.admonition.markdown.warning markup.raw.block.fenced meta.language,
markup.admonition.markdown.warning punctuation.definition.blockquote.markdown,
markup.admonition.markdown.warning meta.separator,
markup.admonition.markdown.warning markup.raw.inline,
markup.admonition.markdown.warning markup.raw.block {
  background: #fac86325;
}

markup.admonition.markdown.warning markup.quote punctuation.definition.blockquote.markdown {
  foreground: #fac86335;
  background: #fac86335;
}

markup.admonition.markdown.danger markup.admonition.header.markdown {
  background: #ec5f6750;
}

markup.admonition.markdown.danger markup.admonition.body.markdown {
  background: #ec5f6715;
}

markup.admonition.markdown.danger punctuation.definition.admonition.markdown,
markup.admonition.markdown.danger punctuation.definition.heading,
markup.admonition.markdown.danger punctuation.definition.table.vertical-line,
markup.admonition.markdown.danger punctuation.definition.table.horizontal-line,
markup.admonition.markdown.danger punctuation.definition.table.alignments,
markup.admonition.markdown.danger punctuation.definition.heading,
markup.admonition.markdown.danger punctuation.definition.bold,
markup.admonition.markdown.danger punctuation.definition.italic,
markup.admonition.markdown.danger punctuation.definition.list_item,
markup.admonition.markdown.danger punctuation.definition.raw,
markup.admonition.markdown.danger markup.checkbox.markdown,
markup.admonition.markdown.danger punctuation.definition.list_item.todo.pending,
markup.admonition.markdown.danger meta.link punctuation.definition,
markup.admonition.markdown.danger meta.link.inline markup.underline.link,
markup.admonition.markdown.danger meta.link.reference.markdown constant.other.reference.link.markdown,
markup.admonition.markdown.danger punctuation.definition.entity.html,
markup.admonition.markdown.danger meta.separator.markdown,
markup.admonition.markdown.danger markup.table.markdown punctuation.definition.table.vertical-line.markdown,
markup.admonition.markdown.danger meta.definition.language.raw.block.fenced.markdown {
  foreground: #ec5f6775;
}

markup.admonition.markdown.danger entity.name.admonition.markdown {
  fontStyle: bold;
  foreground: #ec5f67;
}

markup.admonition.markdown.danger markup.table,
markup.admonition.markdown.danger markup.raw,
markup.admonition.markdown.danger markup.raw.block.fenced meta.language,
markup.admonition.markdown.danger punctuation.definition.blockquote.markdown,
markup.admonition.markdown.danger meta.separator,
markup.admonition.markdown.danger markup.raw.inline,
markup.admonition.markdown.danger markup.raw.block {
  background: #ec5f6725;
}

markup.admonition.markdown.danger markup.quote punctuation.definition.blockquote.markdown {
  foreground: #ec5f6735;
  background: #ec5f6735;
}

markup.admonition.markdown.attention markup.admonition.header.markdown {
  background: #99c79450;
}

markup.admonition.markdown.attention markup.admonition.body.markdown {
  background: #99c79415;
}

markup.admonition.markdown.attention punctuation.definition.admonition.markdown,
markup.admonition.markdown.attention punctuation.definition.heading,
markup.admonition.markdown.attention punctuation.definition.table.vertical-line,
markup.admonition.markdown.attention punctuation.definition.table.horizontal-line,
markup.admonition.markdown.attention punctuation.definition.table.alignments,
markup.admonition.markdown.attention punctuation.definition.heading,
markup.admonition.markdown.attention punctuation.definition.bold,
markup.admonition.markdown.attention punctuation.definition.italic,
markup.admonition.markdown.attention punctuation.definition.list_item,
markup.admonition.markdown.attention punctuation.definition.raw,
markup.admonition.markdown.attention markup.checkbox.markdown,
markup.admonition.markdown.attention punctuation.definition.list_item.todo.pending,
markup.admonition.markdown.attention meta.link punctuation.definition,
markup.admonition.markdown.attention meta.link.inline markup.underline.link,
markup.admonition.markdown.attention meta.link.reference.markdown constant.other.reference.link.markdown,
markup.admonition.markdown.attention punctuation.definition.entity.html,
markup.admonition.markdown.attention meta.separator.markdown,
markup.admonition.markdown.attention markup.table.markdown punctuation.definition.table.vertical-line.markdown,
markup.admonition.markdown.attention meta.definition.language.raw.block.fenced.markdown {
  foreground: #99c79475;
}

markup.admonition.markdown.attention entity.name.admonition.markdown {
  fontStyle: bold;
  foreground: #99c794;
}

markup.admonition.markdown.attention markup.table,
markup.admonition.markdown.attention markup.raw,
markup.admonition.markdown.attention markup.raw.block.fenced meta.language,
markup.admonition.markdown.attention punctuation.definition.blockquote.markdown,
markup.admonition.markdown.attention meta.separator,
markup.admonition.markdown.attention markup.raw.inline,
markup.admonition.markdown.attention markup.raw.block {
  background: #99c79425;
}

markup.admonition.markdown.attention markup.quote punctuation.definition.blockquote.markdown {
  foreground: #99c79435;
  background: #99c79435;
}

acejump.label {
  foreground: #ffffff;
  background: #528bff;
}

sublimelinter.mark.warning {
  foreground: #fac863;
}

sublimelinter.gutter-mark {
  foreground: #ffffff;
}

sublimelinter.mark.error {
  foreground: #ec5f67;
}

markup.ignored.git_gutter {
  foreground: #65737e;
}

markup.untracked.git_gutter {
  foreground: #65737e;
}

markup.inserted.git_gutter {
  foreground: #99c794;
}

markup.changed.git_gutter {
  foreground: #fac863;
}

markup.deleted.git_gutter {
  foreground: #ec5f67;
}

brackethighlighter.default {
  foreground: #c594c5;
}

brackethighlighter.unmatched {
  foreground: #ec5f67;
}

brackethighlighter.curly {
  foreground: #bb80b3;
}

brackethighlighter.round {
  foreground: #fac863;
}

brackethighlighter.square {
  foreground: #6699cc;
}

brackethighlighter.angle {
  foreground: #f99157;
}

brackethighlighter.tag {
  foreground: #5fb3b3;
}

brackethighlighter.quote {
  foreground: #99c794;
}
