@uuid C8C58F9A-35FE-44A4-9BC2-2F3C343DC81D;

* {
  background: #000000;
  caret: #A7A7A7;
  foreground: #F8F8F8;
  invisibles: #CAE2FB3D;
  lineHighlight: #FFFFFF0D;
  selection: #DDF0FF33;
}

comment {
  fontStyle: italic;
  foreground: #AEAEAE;
}

constant {
  foreground: #3387CC;
}

entity {
  fontStyle: none;
  foreground: #89BDFF;
}

keyword {
  fontStyle: none;
  foreground: #E28964;
}

storage {
  fontStyle: none;
  foreground: #99CF50;
}

string {
  fontStyle: none;
  foreground: #65B042;
}

support {
  fontStyle: none;
  foreground: #9B859D;
}

variable {
  foreground: #3E87E3;
}

invalid.deprecated {
  fontStyle: italic underline;
  foreground: #FD5FF1;
}

invalid.illegal {
  foreground: #FD5FF1;
  background: #562D56BF;
}

text source {
  background: #B1B3BA08;
}

entity.other.inherited-class {
  fontStyle: italic;
  foreground: #9B5C2E;
}

string.quoted source {
  fontStyle: none;
  foreground: #DAEFA3;
}

string constant {
  foreground: #DDF2A4;
}

string.regexp {
  foreground: #E9C062;
}

string.regexp constant.character.escape,
string.regexp source.ruby.embedded,
string.regexp string.regexp.arbitrary-repitition {
  foreground: #CF7D34;
}

string variable {
  foreground: #8A9A95;
}

support.function {
  fontStyle: none;
  foreground: #DAD085;
}

support.constant {
  fontStyle: none;
  foreground: #CF6A4C;
}

meta.preprocessor.c {
  foreground: #8996A8;
}

meta.preprocessor.c keyword {
  foreground: #AFC4DB;
}

entity.name.type {
  fontStyle: underline;
}

meta.cast {
  fontStyle: italic;
  foreground: #676767;
}

meta.sgml.html meta.doctype,
meta.sgml.html meta.doctype entity,
meta.sgml.html meta.doctype string,
meta.xml-processing,
meta.xml-processing entity,
meta.xml-processing string {
  foreground: #494949;
}

meta.tag,
meta.tag entity {
  foreground: #89BDFF;
}

source entity.name.tag,
source entity.other.attribute-name,
meta.tag.inline,
meta.tag.inline entity {
  foreground: #E0C589;
}

entity.name.tag.namespace,
entity.other.attribute-name.namespace {
  foreground: #E18964;
}

meta.selector.css entity.name.tag {
  foreground: #CDA869;
}

meta.selector.css entity.other.attribute-name.tag.pseudo-class {
  foreground: #8F9D6A;
}

meta.selector.css entity.other.attribute-name.id {
  foreground: #8B98AB;
}

meta.selector.css entity.other.attribute-name.class {
  foreground: #9B703F;
}

support.type.property-name.css {
  foreground: #C5AF75;
}

meta.property-group support.constant.property-value.css,
meta.property-value support.constant.property-value.css {
  foreground: #F9EE98;
}

meta.preprocessor.at-rule keyword.control.at-rule {
  foreground: #8693A5;
}

meta.property-value support.constant.named-color.css,
meta.property-value constant {
  foreground: #DD7B3B;
}

meta.constructor.argument.css {
  foreground: #8F9D6A;
}

meta.diff,
meta.diff.header {
  fontStyle: italic;
  foreground: #F8F8F8;
  background: #0E2231;
}

markup.deleted {
  foreground: #F8F8F8;
  background: #420E09;
}

markup.changed {
  foreground: #F8F8F8;
  background: #4A410D;
}

markup.inserted {
  foreground: #F8F8F8;
  background: #253B22;
}

markup.italic {
  fontStyle: italic;
  foreground: #E9C062;
}

markup.bold {
  fontStyle: bold;
  foreground: #E9C062;
}

markup.underline {
  fontStyle: underline;
  foreground: #E18964;
}

markup.quote {
  fontStyle: italic;
  foreground: #E1D4B9;
  background: #FEE09C12;
}

markup.heading,
markup.heading entity {
  fontStyle: none;
  foreground: #FEDCC5;
  background: #632D04;
}

markup.list {
  foreground: #E1D4B9;
}

markup.raw {
  fontStyle: none;
  foreground: #578BB3;
  background: #B1B3BA08;
}

markup comment {
  fontStyle: italic;
  foreground: #F67B37;
}

meta.separator {
  foreground: #60A633;
  background: #242424;
}

meta.line.entry.logfile,
meta.line.exit.logfile {
  background: #EEEEEE29;
}

meta.line.error.logfile {
  background: #751012;
}
