@uuid 4FCFA210-B247-11D9-9D00-000D93347A42;

* {
  background: #EEEEEEEB;
  caret: #000000;
  foreground: #000000;
  invisibles: #B3B3B3F4;
  lineHighlight: #0000001A;
  selection: #BAD6FD;
}

string {
  foreground: #009933;
}

constant.numeric {
  foreground: #0066FF;
}

string.regexp {
  foreground: #FF0080;
}

keyword {
  foreground: #0000FF;
}

constant.language {
  foreground: #9700CC;
}

support.class.exception {
  foreground: #990000;
}

entity.name.function {
  foreground: #FF8000;
}

entity.name.type {
  fontStyle: bold underline;
}

variable.parameter {
  fontStyle: italic;
}

comment {
  fontStyle: italic;
  foreground: #0066FF;
}

invalid {
  foreground: #FF0000;
  background: #E71A114D;
}

invalid.deprecated.trailing-whitespace {
  background: #E71A1100;
}

text source {
  foreground: #000000;
  background: #FAFAFAFC;
}

meta.tag,
declaration.tag {
  foreground: #0033CC;
}

constant,
support.constant {
  foreground: #6782D3;
}

support {
  fontStyle: bold;
  foreground: #3333FF;
}

storage {
  fontStyle: bold;
}

entity.name.section {
  fontStyle: bold underline;
}

entity.name.function.frame {
  fontStyle: bold;
  foreground: #000000;
}

meta.tag.preprocessor.xml {
  foreground: #333333;
}

entity.other.attribute-name {
  fontStyle: italic;
  foreground: #3366CC;
}

entity.name.tag {
  fontStyle: bold;
}
