@uuid D68685B8-1CFE-4C10-99C4-E21CBC892376;

* {
  background: #F1F1F1;
  caret: #000000;
  foreground: #000000;
  invisibles: #BFBFBF;
  lineHighlight: #00000026;
  selection: #B0B0FF;
}

comment {
  fontStyle: none;
  foreground: #406040;
}

string {
  foreground: #C03030;
}

constant.numeric {
  foreground: #0080A0;
}

source.ocaml constant.numeric.floating-point {
  fontStyle: underline;
}

constant.character {
  foreground: #800000;
}

constant.language {}

constant.character, constant.other {}

variable.parameter, variable.other {}

keyword {
  fontStyle: none;
  foreground: #2060A0;
}

keyword.operator {
  fontStyle: none;
  foreground: #2060A0;
}

source.ocaml keyword.operator.symbol.prefix.floating-point {
  fontStyle: underline;
}

source.ocaml keyword.operator.symbol.infix.floating-point {
  fontStyle: underline;
}

entity.name.module,
support.other.module {
  fontStyle: none;
  foreground: #0080FF;
}

storage.type {
  foreground: #A08000;
}

storage {
  foreground: #008080;
}

entity.name.class.variant {
  foreground: #C08060;
}

keyword.other.directive {
  fontStyle: bold;
}

source.ocaml keyword.other.directive.line-number {
  fontStyle: none;
}

entity.other.inherited-class {}

entity.name.function {
  fontStyle: none;
  foreground: #800000;
}

storage.type.user-defined {
  foreground: #800080;
}

entity.name.type.class.type {
  foreground: #8000C0;
}

variable.parameter {}

entity.name.tag {}

entity.other.attribute-name {}

support.function {}

support.constant {}

support.type, support.class {}

support.variable {}

invalid {}
