@uuid B0A18BAA-6220-481C-9914-F6D3E51B5410;

* {
  background: #969696;
  caret: #FFFFFF;
  foreground: #000000;
  invisibles: #FF38FF;
  lineHighlight: #00000012;
  selection: #B1B1B1;
}

comment {
  fontStyle: italic;
  foreground: #8D2E75;
}

string {
  fontStyle: none;
  foreground: #FFFFFF;
  background: #FF000033;
}

constant.numeric {
  foreground: #FFFFFF;
}

constant.language {
  fontStyle: bold;
  foreground: #FFA995;
}

constant.character,
constant.other {
  fontStyle: none;
  foreground: #FFA995;
  background: #0000FF33;
}

variable.language,
variable.other {
  foreground: #FFA995;
}

keyword {
  fontStyle: bold;
}

storage {
  fontStyle: bold;
  foreground: #3A68A3;
}

entity.name.type {
  fontStyle: underline;
}

entity.other.inherited-class {
  fontStyle: italic;
}

entity.name.function {
  fontStyle: none;
  foreground: #FFA995;
}

variable.parameter {
  fontStyle: italic;
}

entity.name {
  fontStyle: bold;
  foreground: #0000FF;
}

entity.other.attribute-name {
  fontStyle: italic;
  foreground: #3A68A3;
}

support.function {
  foreground: #E5B3FF;
}

support.function.any-method {
  fontStyle: none;
  foreground: #000000;
}

support.function.any-method \- punctuation {
  fontStyle: italic;
}

support.constant {
  foreground: #FFFFFF;
}

support.type,
support.class {
  foreground: #FFA995;
}

support.variable {
  foreground: #3A68A3;
}

invalid {
  foreground: #FFFFFF;
  background: #797979;
}

string.quoted.other.lt-gt.include {
  fontStyle: italic;
  foreground: #FFA995;
  background: #969696;
}

string.quoted.double.include {
  foreground: #FFA995;
  background: #969696;
}

markup.list {
  foreground: #4D4E60;
}

markup.raw {
  foreground: #FFFFFF;
  background: #0000FF;
}

markup.quote {
  foreground: #00F0C9;
}

markup.quote markup.quote {
  fontStyle: none;
  foreground: #4C457E;
}

text.html source {
  background: #8A9ECB;
}
